<link rel="stylesheet" href="home.scss">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="assets/style.css" />
<%= stylesheet_link_tag '/assets/style.scss', media: 'all', 'data-turbolinks-track' => true %>

	<div style="border: 10px solid #F6D7E0; ">

<center>
    <table style="margin-top: 30px; margin-bottom: 30px; border: 1px solid #F6D7E0;">
      <tr style="background-color: #F6D7E0">
        <th style="padding : 6px; text-align: center; width: 300px">제목</th>
        <th style="text-align: center">날짜</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
       <% @posts.each do |p| %>
      <tr>
        <td style="padding : 3px; padding-left: 20px"><%= p.title %>&nbsp;&nbsp;<a href="/show/<%=p.id%>"><i class="glyphicon glyphicon-zoom-in" style="color:#E76597;"></a></i></td>
        <td><%= p.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M:%S") %></td>
        <% if user_signed_in? %>
              <% if current_user.email == p.user_id || current_user.email == "admin@email.com"  %>
        		<td><a href="/destroy/<%=p.id%>">&nbsp;삭제</a></td>
        		<td><a href="/update/<%= p.id %>">&nbsp;수정</a></td>
        	   <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
    <a href="/write"><button type="button" style="margin-bottom: 10px">글쓰기</button></a>
    </div>
    
</center>